body{
    margin:0;
    background:#333;
}

.book-container{
    width:900px;
    height:600px;
    margin:40px auto;
}

#flipbook{
    width:900px;
    height:600px;
}

.page{
    width:450px;
    height:600px;
}

.page img{
    width:100%;
    height:100%;
}
